/*Header*/
.header{
    padding-top: 25px;
    height: 25vh;
    min-height: 150px;
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}
/*Logo*/
.header.logo{
    width: 365px;
    height: 183px;
    grid-row: 1 / 2;
}
.header.logo a{
    text-decoration: none;
    width: 365px;
    height: 183px;
}
.header.logo > a > img{
    width: 365px;
    height: 183px;
}
/*Menu*/
.header .menu{
    align-self: flex-end;
    padding-left: 0px;
}
.header .menu .wrap-menu ul{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.header .menu .wrap-menu ul> li{
    list-style-type: none;
    margin-right: 30px;
}
.header .menu .wrap-menu ul> li >a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.header .menu .wrap-menu ul> li >a:hover{
    color: #F2B566;
}
/*Acc*/
.acc{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}
.acc .acc-in a{
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    color: aliceblue;
}