/*Header*/
.header{
    position: absolute;
    z-index: 3;
    padding-top: 25px;
    height: 25vh;
    min-height: 150px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
/*Logo*/
.header.logo{
    align-self: flex-end;
    width: 365px;
    height: 183px;
}
.header.logo a{
    text-decoration: none;
    width: 365px;
    height: 183px;
}
.header.logo > a > img{
    width: 365px;
    height: 183px;
}
/*Menu*/
.header .menu{
    align-self: flex-end;
    padding-left: 0px;
}
.header .menu .wrap-menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0px;
}
.header .menu .wrap-menu ul> li{
    list-style-type: none;
    margin-right: 30px;
}
.header .menu .wrap-menu ul> li >a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.header .menu .wrap-menu ul> li >a:hover{
    color: #F2B566;
}
/*Acc*/
.acc{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    flex-grow: 1;
    
}
.acc .acc-img{}
.acc .acc-in a{
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    color: aliceblue;
}