/* Unforgettable-page */
.unforgettable__adventures{
    margin: 0;
    padding: 1px;
    height: 100vh;
    width: 100%;
    background:#000;
}
.unforgettable__adventures > h2{
    width: 50%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-family: Intro ;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 93.333% */
}

.unforgettable__adventures > p{
    width: 50%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-family: Russo One;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.unforgettable__adventures__content{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.unforgettable__adventures__content__img{
    grid-column: 1;
    width: 435px;
    height: 659px;
}
.unforgettable__adventures__content__slaider{
    position: relative;
    min-width: 0;
    grid-column: 2;
}
.unforgettable__adventures__content__slaider > img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#slaid_1{
    z-index: 1;
}